.container-password {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 500px;
  color: white;
  margin-top: 50px;
}

.container-password h2 {
  margin-bottom: 10px;
}

.form-actions .btn-ghost {
  width: 400px;
  height: 40px;
  align-items: flex-end;
  margin-bottom: 10px;
}
