// Import page-specific CSS files here.
.banner {
  // background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.container {
  border-radius: 10px;
}

.container h1 {
  margin-top: 20px;
  margin-left: 30px;
}


.container-background{
  background-color: #212529;
  padding-bottom: 30px;
}

.container-background h1{
  color: white;
}

// card

.card-products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.overlay{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background: rgba(77, 77, 77, .9);
  color: #FEF5DF;
  opacity: 65%;
  transition: all 0.5s;
}

.card-product:hover .overlay{
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }

  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }

  & .details {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

  & .btn {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

.card-product {
  overflow: hidden;
  background: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.4s ease-out;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 350px;
  height: 450px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: space-between;
}


.card-product:hover {
  transform: scale(1.02);
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 1;
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 8px;
  margin-right: 15px;
}

.card-product-infos{
  text-align: left;
}
.card-product .card-product-infos {
  padding: 16px;
}


// button
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #fcfbfb;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  left: 100px;
  bottom: 150px;
  align-items: flex-end;
  width: 40px;
}

// .btn-ghost:hover {
//   opacity: 1;
// }
