.container-login {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 500px;
  color: white;
  margin-top: 30px;
}

.container-login h2 {
  margin-bottom: 10px;
}

.form-actions .btn-ghost {
  width: 100px;
  height: 40px;
  align-items: flex-end;
  margin-bottom: 10px;
}

.links {
  color: white;
}
