// Buyer scss starts here

.event-show {
  background-color: #24262b;
}

.container h1 {
  padding-top: 30px;
  color: white;
}

.card-event {
  width: 500px;
  border-radius: 3px;
}


.btn-show {
  color: #ffffff;
  border: 1px solid #fcfbfb;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
  justify-content: center;
}

// Seller scss starts here

.show-container {
  background-color: #24262b;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.event-title {
  color: white;
}

.card-show {
  width: 500px;
  border-radius: 3px;
  // background-color: white;
  padding-bottom: 7px;
}

.card-show h2 {
  color: black;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 10px;
}

.list-show li {
  text-align: left;
  margin-left: 25px;
  padding-top: 5px;
}


.btn-ghost {
  margin-bottom: 30px;
}
