
  <footer class="footer">
    <div class="container-footer">
      <div class="row">
        <div class="footer-col">
          <h4>E-Planner</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">All Events</a></li>
            <br>
            <br>
            <p>2020 E-planner | All Rights Reserved</p>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Go to</h4>
          <ul>
            <li><a href="/events">Buy tickets</a></li>
            <li><a href="/users/sign_in">Create an event</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contact us:</h4>
          <ul>
            <li><a href="#">Email: contact@eplanner.com</a></li>
            <li><a href="#">WhatsApp: +230 664 6786</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <br>
            <br>
            <br>
            <p> Brought to you by E-Planner !</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
