<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556340346-5e30da977c4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);">
    <div class="container">
      <h1>E-Planner</h1>

      <p>Our innovation is your perfect event solution

      <br>
      <br>


      <div class="welcome-text ">
        <a href="#">See Event</a>
        <a href="#">Create an Event</a>
      </div>
    </div>
  </div>
</html>



















</html>
