.btn-ghost {
  color: #ffffff;
  border: 1px solid #fcfbfb;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 1;
  transition: opacity 0.3s ease;
  left: 100px;
  bottom: 150px;
  align-items: flex-end;
  width: 160px;
  border-color: #ffffff;

}

.btn-ghost:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: #ffa248;
  border-color: black;
}

.btn-index {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  transition: opacity 0.3s ease;
  align-items: flex-end;
  border-color: #ffffff;
}

.btn-index:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: #ffa248;
  border-color: black;
}
