.navbar-lewagon {
  justify-content: space-between;
  background: #212529;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-top: 25px;

}

.nav-link {
  color: rgb(255, 255, 255);

}

.nav-link:hover {
  color: rgb(151, 151, 151);

}
